:root{
    --pen-color: #333;
    
}

body{
    background-color: #0000ff;
    
}

.btn{
    display: flex;
   justify-content: center;
   
}

#prompt, .switch{
    height: 40px;
    margin: 0.2em;
    background-color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    color: red;
    cursor: pointer;
}

.switch:hover{
    background-color: orangered;
}

#prompt:hover{
    background-color: orangered;
}


#container{
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: antiquewhite;
   
    
}

.grid-item{
    border: 1px solid #dddddd;
    
    
}




