:root{
    --pen-color: #333;
    
}

body{
    background-color: #0000ff;
    
}

.btn{
    display: flex;
   justify-content: center;
}

#prompt, .switch, #reset{
    height: 30px;
    margin: 0.2em;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    color: red;
    cursor: pointer;
}

.switch:hover{
    background-color: #ffff00;
    
}

#prompt:hover{
    background-color:#008000;
    
}

#reset:hover{
    background-color: #7cfc00;
    
}

#container{
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: antiquewhite;
   
    
}
@media(max-width: 599px){
    #container{
        width: 80%;
        height: 350px
    }

    .btn{
        margin-bottom: 2em;
    }
}

.grid-item{
    border: 1px solid #dddddd;
    
    
}




